.aboutContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.2rem;
    margin: 1rem;
}

.aboutMe { 
    border-radius: 20px;
    max-width: 60%;
    margin: .5rem;
}

h4,
p {
    padding: 1rem;
}






