.aboutContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.greeting {
    font-weight: lighter;
}
.myName {
    color:#393E46;
    font-size: 3.4rem;
    font-weight: lighter;
}

.aboutBlurb {
    font-size: 1.2rem;
}