.home {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.nav {
    list-style: none;
    color: #393E46;
    font-size: 1.25rem;
    margin: 1rem;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    
}

.nameDisplay {
    color:#393E46;
    font-size: 3rem;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
}

